.input-container_text-container {
  border: 1px solid;
}

.input-cotainer_img-container {
  border: 1px solid;
}

.input-cotainer_img-container img {
  display: block;
  height: 100%;
  width: 100%;
}

/* Mobile Rules */
@media screen and (max-width: 540px) {
  .input-container_text-container {
    order: 2;
  }

  .input-cotainer_img-container {
    order: 1;
  }
}