.form-container {
  display: flex;
  background: var(--white);
  justify-content: center;
  max-width: 54rem;
  height: 600px;
  border: 1px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .form-container {
    flex-direction: column;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
}
