.form-container {
  display: flex;
  background: var(--white);
  max-width: 50rem;
  border-radius: 30px;
  border: 1px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .form-container {
    flex-direction: column;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .form-container {
    padding: 20px;
  }
}
