.output-container {
  font-family: var(--font-family);
  background: var(--white);
  max-width: 25rem;

  border-radius: 30px;
  padding: 20px;
  border: 1px solid;
}

.output-container p {
  border: 1px solid;
}
